html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

.timer-type-header {
  position: relative;
  margin-top: 20px; }
  .timer-type-header button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 27px;
  margin-left: 10px;
  /* Hide default HTML checkbox */ }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 27px; }

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%; }

input:checked + .slider {
  background-color: #6F91B5; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px); }

#myProgress {
  width: 100%;
  background-color: #CDCCCA;
  position: relative; }
  #myProgress p {
    position: absolute;
    height: 30px;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center; }

#myBar {
  width: 0;
  height: 30px;
  background-color: #61B087; }

.timer-container, #startAndPasue {
  width: 450px; }

@media (max-width: 450px) {
  .timer-container {
    width: 100%; } }

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

#main-content {
  flex: 1; }

.footer {
  height: 50px;
  width: 100%;
  background-color: gray;
  padding-top: 10px; }

#startButton, #stopButton {
  width: 100px;
  text-align: center; }

#focusModelButton, #startButton {
  background-color: #355B94;
  border: 1px solid #355B94; }

#focusModelButton:hover, #startButton:hover {
  background-color: #6F91B5;
  border: 1px solid #6F91B5; }

input:disabled {
  background-color: #EEEBE7; }

#describeImage.active, #readAloud.active, #retellLecture.active, #customSetting.active {
  background-color: #C24332;
  border: 1px solid #C24332; }

#describeImage:hover, #readAloud:hover, #retellLecture:hover, #customSetting:hover {
  background-color: #a2382a;
  border: 1px solid #a2382a; }

#speakingTimeInput, #readingTimeInput {
  padding-right: 5px;
  padding-left: 5px; }
